@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

:root {
  --sidebar-color: #262526;
  --main-color: #212022;
  --sub-color: #333233;
  --highlight-color: #44acc5;
  --button-color: #2594b0;
  --error-color: #a84b52;
  --error-button: #db4550;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
}

.sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--sidebar-color);
  border-right: 1px solid rgba(250, 250, 250, 0.6);
  transition: width 300ms;
}

.sidebar-brand {
  height: 80px;
  text-align: center;
  color: #fff;
  padding: 1rem 0 2rem;
}

.sidebar-brand i {
  color: var(--highlight-color);
  font-size: 700;
  font-size: 30px;
}

.sidebar-brand span .poly {
  color: #fff;
  font-weight: 500;
  letter-spacing: 4px;
}

.sidebar-brand h2 {
  font-weight: 100;
  letter-spacing: 4px;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 0;
  padding: 0.5rem 0;
  padding-left: 3rem;
}

.sidebar-menu a {
  display: block;
  color: rgba(250, 250, 250, 0.8);
  font-size: 1.1rem;
}

.sidebar-menu li a i {
  font-size: 24px;
  padding-right: 0.4rem;
}

.dashboard a {
  color: var(--highlight-color);
}

.dashboard {
  background-color: rgba(68, 172, 197, 0.2);
  border-right: 0.3rem solid var(--highlight-color);
}

.sidebar-menu li:hover {
  background-color: rgba(68, 172, 197, 0.2);
}

#nav-toggle:checked + .sidebar {
  width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2,
#nav-toggle:checked + .sidebar li {
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle:checked + .sidebar li a {
  padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}

.main-content {
  transition: margin-left 300ms;
  margin-left: 300px;
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
  top: 0;
  right: 0;
  left: 0;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  color: #fff;
  transition: left 300ms;
}

#nav-toggle {
  display: none;
}

header label {
  font-size: 1.7rem;
  padding-right: 1rem;
}

header h2 {
  font-weight: 500;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  margin-right: 1rem;
}

.user-name {
  font-weight: 300;
  font-size: 14px;
}

.user-name i {
  font-size: 20px;
  font-weight: 500;
}

.error {
  height: 60px;
  background-color: var(--error-color);
  padding: 1rem 2rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error button {
  background-color: var(--error-button);
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

main {
  padding: 1.5rem 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--sub-color);
  padding: 2rem;
  border-radius: 4px;
}

.card-single p {
  color: var(--highlight-color);
}

.card-single i {
  font-size: 20px;
  color: var(--highlight-color);
}

.card-single h3 {
  font-size: 25px;
  font-weight: 500;
  padding: 0.3rem 0;
  color: #fff;
}

small {
  color: #fff;
}

.small-blue {
  color: var(--highlight-color);
}

.info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-gap: 2rem;
  margin-top: 2rem;
}

.info-one,
.info-two {
  display: flex;
  flex-direction: column;
  background-color: var(--sub-color);

  padding: 2rem;
  border-radius: 4px;
}

.info-one i {
  font-size: 20px;
  margin-right: 0.3rem;
}

.info-one h3,
.info-two h3 {
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.info-slip {
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: 4px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.info-slip:not(:last-child) {
  margin-bottom: 1rem;
}

.submitted {
  border-left: 0.3rem solid #f8ba51;
}

.approved {
  border-left: 0.3rem solid #45bcb9;
}

.rejected {
  border-left: 0.3rem solid #f2656c;
}

.info-card {
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: 4px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.info-card:not(:last-child) {
  margin-bottom: 1.5rem;
}

.subtitle {
  color: var(--highlight-color);
}

.info-subcard {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 1rem;
}

/*remove in media queries*/
.info-subcard p {
  margin-top: 0.5rem;
}

.info-subcard button {
  height: 40px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.info-subcard button:hover {
  background-color: #2594b096;
  transform: scale(1.1);
  transition: all 0.2s;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }

  .sidebar li a {
    padding-left: 0rem;
  }

  .sidebar .sidebar-brand h2 span:last-child,
  .sidebar li a span:last-child {
    display: none;
  }

  .main-content {
    margin-left: 70px;
  }

  .main-content header {
    width: calc(100% - 70px);
    left: 70px;
  }

  .sidebar:hover {
    width: 300px;
    z-index: 200;
  }

  .sidebar:hover .sidebar-brand,
  .sidebar:hover li {
    padding-left: 1rem;
    text-align: center;
  }

  .sidebar:hover li a {
    padding-left: 1rem;
  }

  .sidebar:hover .sidebar-brand h2 span:last-child,
  .sidebar:hover li a span:last-child {
    display: inline-block;
  }
}

@media only screen and (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .info-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .info-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .info-subcard p {
    margin-top: 0;
  }

  .error {
    display: none;
  }

  header {
    position: fixed;
    left: 70px;
    top: 0;
    right: 0;
    margin-bottom: 80px;
    background-color: var(--main-color);
  }

  main {
    margin-top: 80px;
  }
}
